<h1>Posts</h1>

<%= turbo_frame_tag :foo do %>
  <% @posts.each do |post| %>
    <p>
      <strong>
        <%= post.title %>
      </strong>
    </p>
    <p>
      <%= post.body %>
    </p>
  <% end %>
<% end %>

<%= turbo_frame_tag :frame_identifier, 
  loading: :lazy,
  src: posts2_index_path(format: :turbo_stream, page: @pagy.next)
%>
