<style>

[table] {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

row {
  display: table-row;
}

cell {
  display: table-cell;
}

</style>

<h1>Posts</h1>

<turbo-frame id="foo" loading="lazy" table>
  <row>
    <cell>
      id 
    </cell>
    <cell>
      title 
    </cell>
  </row>
  <% @posts.each do |post| %>
    <row>
      <cell>
        <%= post.id %>
      </cell>
      <cell>
        <%= post.title %>
      </cell>
    </row>
  <% end %>
</turbo-frame>

<%= turbo_frame_tag :foo2, 
  loading: :lazy,
  src: posts4_index_path(format: :turbo_stream, page: @pagy.next)
%>
