<style>

table {
  width: 100%;
  border-collapse: collapse;
}

</style>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>
        id 
      </th>
      <th>
        title 
      </th>
    </tr>
  </thead>
  <tbody id="foo" is="turbo-frame">
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= post.id %>
        </td>
        <td>
          <%= post.title %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= turbo_frame_tag :foo2, 
  loading: :lazy,
  src: posts5_index_path(format: :turbo_stream, page: @pagy.next)
%>
