<h1>Posts</h1>

<turbo-frame id="foo" loading="lazy">
  <% @posts.each do |post| %>
    <p>
      <%= post.id %>
    </p>
    <p>
      <%= post.title %>
    </p>
  <% end %>
</turbo-frame>

<%= turbo_frame_tag :foo2, 
  loading: :lazy,
  src: posts3_index_path(format: :turbo_stream, page: @pagy.next)
%>
