<h1>Editing Post</h1>

<controls>
  <%= button_tag "Update", form: "post_form", formaction: posts_path(@post), method: :patch %>
  <%= link_to "Back", post_path(@post), role: "button" %>
</controls>

<%= render "form", post: @post, disabled: false %>
