<h1>Posts</h1>

<%= turbo_frame_tag :posts do %>
  <%#= render @posts %>

  <% @posts.each do |post| %>
    <%= render "post", post: post %>
  <% end %>

<% end %>

<%= turbo_frame_tag :frame_identifier, 
  loading: :lazy,
  src: posts_path(format: :turbo_stream, page: @pagy.next)
%>
