<h1>New Post</h1>

<controls>
  <%= button_tag "Create", form: "post_form", formaction: posts_path(@post) %>
  <%= link_to "Back", posts_path, role: "button" %>
</controls>

<%= render "form", disabled: false %>
