<h1>Post</h1>

<% turbo_page_requires_reload %>

<%= turbo_stream_from @post %>

<controls>
  <%= link_to "Edit", edit_post_path(@post), role: "button" %>
  <%= link_to "Back", posts_path, role: "button" %>
</controls>

<%= render "form", disabled: true %>
